/* Main style */
body {
  font-family: "Lato", "ubuntu", "Helvetica Neue", Arial, verdana, sans-serif;
  font-size: 16px;
  text-align: left;
  max-width: 50em;
  margin: auto;
}

html {
  background-color: #e0e0e0;
  /*background-color: #333;*/
}


header {
  margin: 0em;
  padding: 0em;
  color: #eee;
  background-color: #333;
  padding-left: 0em;
  padding-right: 0em;
  text-align: center;
  align: center;
}

div {
  margin: auto;
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 3em;
  padding-bottom: 3em;
  margin-top: 3em;
  padding-top: 3em;
  background-color: #fff
}

div:first-of-type {
  margin-top: 0em;
}

div:last-of-type {
  padding-bottom: 6em;
  margin-bottom: 0em;
}

div:nth-of-type(even) {
  /*background: #e0e0e0;*/
  /*background: lightgoldenrodyellow;*/
  background: #FDF3E7;
}

/* For potrait pictures */
.face {
  border-radius: 50%;
  max-width: 12em;
  display: inline-block;
  margin: 1em;
}



/* Heading margins */
h1, h2, h3 {
  font-family: "Roboto Slab", "Lato", "ubuntu", "Helvetica Neue", Arial, verdana, sans-serif;
  font-weight: bold;
}

h1 {
  padding-top: 1em;
  /*text-transform: uppercase;*/
  font-weight: lighter;
}

h2 {
}

h3 {
}

h1, h2, h3 {
  /*font-weight: bold;*/
}

/* unvisited link */
a:link {
    color: steelblue;
}

/* visited link */
a:visited {
    color: coral;
}

/* selected link */
a:active {
    color: forestgreen;
}



/* For time */
time {
  color: coral;
}



/* Navigation bar */
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

nav > ul > li {
  float: left;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > ul > li > a:hover {
  background-color: steelblue;
  color: #ffffff;
  border-radius: 0.2em;
}

a.btn {
}

/* For calendar icons */

time.icon
{
  font-size: 0.75em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #ffffff;
  border-style: solid;
  border-width: 0.2em;
  border-color: #333;
  border-radius: 1em;
  overflow: hidden;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #333;
  background-color: lightcoral; /*#ff0000*/;
  border-bottom: 0.1em; /*#990000*/;
  /*box-shadow: 0 2px 0 #fd9f1b #ff0000;*/
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: coral;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

td.newsdate {
  margin: 2em;
}

td.newsitem {
  margin: 2em;
  padding: 2em;
}

/* Footer */
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  color: #eee;
  background-color: #333;
}

header > a > i {
  margin: 0.5em;
  padding: 0.5em;
}

/*Return to top*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
